thiendrv/x64/Release/thiendrv.tlog/*
.vs/*
./x64/
thienctl/Debug/*
thienctl/ARM/*
thienctl/x64/*
thiendrv/Debug/*
thiendrv/ARM/*
thiendrv/x64/*
*.sys
*.exe
*.pdb
*.cmd
*.inf
*.lib
*.obj
*.iobj
*.tlog
*.log
*.ipdb
*.recipe
x64/Release/thiendrv.inf
x64/Release/thiendrv.pdb
x64/Release/thiendrv.sys
x64/Release/thiendrv/thiendrv.cat
x64/Release/thiendrv/thiendrv.inf
x64/Release/thiendrv/thiendrv.sys
x64/Release/thiendrv.cer
