thiendrv/x64/Release/thiendrv.tlog/*
.vs/*
thienctl/Debug/*
thienctl/ARM/*
thienctl/x64/*
thiendrv/Debug/*
thiendrv/ARM/*
thiendrv/x64/*
*.sys
*.exe
*.pdb
*.cmd
*.inf
*.lib
*.obj
*.iobj
*.tlog
*.log
*.ipdb
*.recipe
